<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--
        <bean class="ru.javawebinar.topjava.repository.mock.MockUserRepositoryImpl" id="mockUserRepository"/>

        <bean class="ru.javawebinar.topjava.service.UserServiceImpl">
            <property name="repository" ref="mockUserRepository"/>
        </bean>
    -->
    <import resource="spring-tools.xml"/>

    <context:annotation-config/>

    <context:component-scan base-package="ru.javawebinar.**.service"/>

    <!--Used for proper conversion during spring data binding-->
    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="ru.javawebinar.topjava.util.converters.StringToLocalDateTimeConverter"/>
                <bean class="ru.javawebinar.topjava.util.converters.StringToLocalDateConverter" />
                <bean class="ru.javawebinar.topjava.util.converters.StringToLocalTimeConverter" />
            </set>
        </property>
    </bean>
</beans>